In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
%matplotlib inline

In [52]:
df = pd.read_csv(r'C:\Users\harr1\Desktop\Thinkful\NY Crime 2014.csv')
print(df.head(10))

                             Table 8  Unnamed: 1      Unnamed: 2  \
0                           NEW YORK         NaN             NaN
1  Offenses Known to Law Enforcement         NaN             NaN
2                      by City, 2014         NaN             NaN
3                               City  Population  Violent\ncrime
4                      Adams Village       1,851               0
5           Addison Town and Village       2,568               2
6                     Afton Village4         820               0
7                      Akron Village       2,842               1
8                            Albany4      98,595             802
9                    Albion Village4       5,872              26

                               Unnamed: 3                    Unnamed: 4  \
0                                     NaN                           NaN
1                                     NaN                           NaN
2                                     NaN                           NaN
3  Murder and\nnonnegligent\nmanslaughter  Rape\n(revised\ndefinition)1
4                                       0                           NaN
5                                       0                           NaN
6                                       0                             0
7                                       0                           NaN
8                                       8                            54
9                                       0                             3

                    Unnamed: 5 Unnamed: 6           Unnamed: 7  \
0                          NaN        NaN                  NaN
1                                     NaN                  NaN
2                          NaN        NaN                  NaN
3  Rape\n(legacy\ndefinition)2    Robbery  Aggravated\nassault
4                            0          0                    0
5                            0          1                    1
6                          NaN          0                    0
7                            0          0                    1
8                          NaN        237                  503
9                          NaN          2                   21

        Unnamed: 8 Unnamed: 9      Unnamed: 10            Unnamed: 11  \
0              NaN        NaN              NaN                    NaN
1              NaN        NaN              NaN                    NaN
2              NaN        NaN              NaN                    NaN
3  Property\ncrime   Burglary  Larceny-\ntheft  Motor\nvehicle\ntheft
4               11          1               10                      0
5               49          1               47                      1
6                1          0                1                      0
7               17          0               17                      0
8            3,888        683            3,083                    122
9              204         41              159                      4

  Unnamed: 12  Unnamed: 13
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3      Arson3          NaN
4           0          NaN
5           0          NaN
6           0          NaN
7           0          NaN
8          12          NaN
9           0          NaN

In [54]:

new_df = df.drop([0,1,2, 3, 373, 374, 375, 376, 377])
new_df.columns = df.iloc[3]
new_df.columns = new_df.columns.str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('\n', '_')
modcrime= new_df.drop([new_df.columns[4], new_df.columns[13]], axis = 'columns')
print (modcrime.head(10))

3                       City Population Violent_crime  \
4              Adams Village      1,851             0
5   Addison Town and Village      2,568             2
6             Afton Village4        820             0
7              Akron Village      2,842             1
8                    Albany4     98,595           802
9            Albion Village4      5,872            26
10   Alexandria Bay Village4      1,107             0
11           Alfred Village4      4,032            11
12         Altamont Village4      1,723             1
13             Amherst Town4    118,860           128

3  Murder_and_nonnegligent_manslaughter Rape_legacy_definition2 Robbery  \
4                                     0                       0       0
5                                     0                       0       1
6                                     0                     NaN       0
7                                     0                       0       0
8                                     8                     NaN     237
9                                     0                     NaN       2
10                                    0                     NaN       0
11                                    1                     NaN       0
12                                    0                     NaN       0
13                                    1                     NaN      43

3  Aggravated_assault Property_crime Burglary Larceny-_theft  \
4                   0             11        1             10
5                   1             49        1             47
6                   0              1        0              1
7                   1             17        0             17
8                 503          3,888      683          3,083
9                  21            204       41            159
10                  0              7        2              5
11                  9             30        6             24
12                  1              2        2              0
13                 68          2,066      176          1,846

3  Motor_vehicle_theft Arson3
4                    0      0
5                    1      0
6                    0      0
7                    0      0
8                  122     12
9                    4      0
10                   0      0
11                   0      0
12                   0      0
13                  44      2

In [67]:
modcrime['PopNum'] = modcrime['Population'].str.replace(',', '')
modcrime['PropertyNum'] = modcrime['Property_crime'].str.replace(',', '')
modcrime['RobberyNum'] = modcrime['Robbery'].str.replace(',', '')
modcrime['Burg'] = modcrime['Burglary'].str.replace(',', '')
print(modcrime['PopNum'])
print(modcrime['PropertyNum'])

4        1851
5        2568
6         820
7        2842
8       98595
9        5872
10       1107
11       4032
12       1723
13     118860
14       2250
15       9509
16      18099
17        846
18       2030
19       4561
20        656
21       2502
22       3333
23       7485
24       5470
25      15223
26       5703
27      14330
28      17782
29      34653
30      46229
31       1392
32      11960
33       2321
        ...
342     61702
343      1166
344     28019
345      6847
346     28211
347      2980
348      3397
349      5788
350      8398
351      5185
352     28009
353     10235
354      1871
355      4344
356     44230
357      1796
358      4576
359      3147
360      1753
361     44866
362      2598
363     58103
364      3727
365      9307
366      1682
367      1646
369      5907
370    200624
371     36989
372      1896
Name: PopNum, Length: 368, dtype: object
4        11
5        49
6         1
7        17
8      3888
9       204
10        7
11       30
12        2
13     2066
14        0
15      198
16      490
17        6
18       25
19       25
20        6
21       12
22       14
23       65
24       73
25      599
26      148
27      245
28      123
29      454
30     2048
31        3
32       86
33        9
       ...
342    2366
343      15
344     580
345      89
346     506
347      75
348      75
349      59
350      58
351     154
352    1296
353     199
354     103
355      20
356     496
357      21
358     156
359       9
360      33
361     764
362      44
363    1046
364      41
365      71
366      18
367       4
369      43
370    2009
371     209
372       1
Name: PropertyNum, Length: 368, dtype: object

In [68]:
modcrime = modcrime.dropna(subset = ['Property_crime'])

In [69]:
modcrime.RobberyNum = pd.to_numeric(modcrime.RobberyNum, errors = 'coerce')
modcrime.PopNum = pd.to_numeric(modcrime.PopNum, errors='coerce')
modcrime.PropertyNum = pd.to_numeric(modcrime.PropertyNum, errors='coerce')
modcrime.Burg = pd.to_numeric(modcrime.Burg, errors = 'coerce')
print (modcrime.PopNum)

4        1851
5        2568
6         820
7        2842
8       98595
9        5872
10       1107
11       4032
12       1723
13     118860
14       2250
15       9509
16      18099
17        846
18       2030
19       4561
20        656
21       2502
22       3333
23       7485
24       5470
25      15223
26       5703
27      14330
28      17782
29      34653
30      46229
31       1392
32      11960
33       2321
        ...
342     61702
343      1166
344     28019
345      6847
346     28211
347      2980
348      3397
349      5788
350      8398
351      5185
352     28009
353     10235
354      1871
355      4344
356     44230
357      1796
358      4576
359      3147
360      1753
361     44866
362      2598
363     58103
364      3727
365      9307
366      1682
367      1646
369      5907
370    200624
371     36989
372      1896
Name: PopNum, Length: 368, dtype: int64

In [59]:
modcrime['Murder'] = pd.to_numeric(modcrime.Murder_and_nonnegligent_manslaughter, errors='coerce')
print (modcrime['Murder'])

4      0
5      0
6      0
7      0
8      8
9      0
10     0
11     1
12     0
13     1
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     1
31     0
32     0
33     0
      ..
342    6
343    0
344    0
345    0
346    0
347    0
348    0
349    0
350    0
351    0
352    0
353    0
354    0
355    0
356    1
357    0
358    0
359    0
360    0
361    0
362    0
363    1
364    0
365    0
366    0
367    0
369    0
370    3
371    0
372    0
Name: Murder, Length: 368, dtype: int64

C:\Users\harr1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
modcrime['Murder0'] = (modcrime['Murder'] == 0)
modcrime['Murder1'] = (modcrime['Murder'] != 0)
print(modcrime['Murder0'].head(5))
print(modcrime['Murder1'].head(5))

4     True
5     True
6     True
7     True
8    False
Name: Murder0, dtype: bool
4    False
5    False
6    False
7    False
8     True
Name: Murder1, dtype: bool

In [71]:
modcrime['Robbery0'] = (modcrime['RobberyNum'] == 0)
modcrime['Robbery1'] = (modcrime['RobberyNum'] != 0)
print(modcrime['Robbery0'].head(5))
print(modcrime['Robbery1'].head(5))

4     True
5    False
6     True
7     True
8    False
Name: Robbery0, dtype: bool
4    False
5     True
6    False
7    False
8     True
Name: Robbery1, dtype: bool

In [44]:
print (modcrime.tail(10))

3                   City Population Violent_crime  \
365      Whitestown Town      9,307             0
366        Windham Town4      1,682             1
367      Wolcott Village      1,646             0
368    Woodbury Town4, 5     10,739             4
369      Woodstock Town4      5,907             3
370             Yonkers4    200,624           974
371       Yorktown Town4     36,989            13
372  Youngstown Village4      1,896             0
378                  NaN        NaN           NaN
379                             NaN           NaN

3   Murder_and_nonnegligent_manslaughter Rape_legacy_definition2 Robbery  \
365                                    0                       0       0
366                                    0                     NaN       0
367                                    0                       0       0
368                                    0                     NaN       1
369                                    0                     NaN       2
370                                    3                     NaN     358
371                                    0                     NaN       0
372                                    0                     NaN       0
378                                  NaN                     NaN     NaN
379                                  NaN                     NaN     NaN

3   Aggravated_assault Property_crime Burglary Larceny-_theft  \
365                  0             71       16             55
366                  1             18        8              9
367                  0              4        0              4
368                  3            NaN        5            NaN
369                  0             43       14             29
370                580          2,009      414          1,395
371                 13            209       24            182
372                  0              1        0              1
378                NaN            NaN      NaN            NaN
379                NaN            NaN      NaN            NaN

3   Motor_vehicle_theft Arson3    PopNum  PropertyNum  RobberyNum  Murder  \
365                   0      0    9307.0         71.0         0.0     0.0
366                   1      0    1682.0         18.0         0.0     0.0
367                   0      0    1646.0          4.0         0.0     0.0
368                   0      0   10739.0          NaN         1.0     0.0
369                   0      0    5907.0         43.0         2.0     0.0
370                 200     15  200624.0       2009.0       358.0     3.0
371                   3      0   36989.0        209.0         0.0     0.0
372                   0      0    1896.0          1.0         0.0     0.0
378                 NaN    NaN       NaN          NaN         NaN     NaN
379                 NaN    NaN       NaN          NaN         NaN     NaN

3    Murder0  Murder1  Robbery0  Robbery1
365     True    False      True     False
366     True    False      True     False
367     True    False      True     False
368     True    False     False      True
369     True    False     False      True
370    False     True     False      True
371     True    False      True     False
372     True    False      True     False
378    False     True     False      True
379    False     True     False      True

In [43]:
print(modcrime.tail(10))

3                   City Population Violent_crime  \
365      Whitestown Town      9,307             0
366        Windham Town4      1,682             1
367      Wolcott Village      1,646             0
368    Woodbury Town4, 5     10,739             4
369      Woodstock Town4      5,907             3
370             Yonkers4    200,624           974
371       Yorktown Town4     36,989            13
372  Youngstown Village4      1,896             0
378                  NaN        NaN           NaN
379                             NaN           NaN

3   Murder_and_nonnegligent_manslaughter Rape_legacy_definition2 Robbery  \
365                                    0                       0       0
366                                    0                     NaN       0
367                                    0                       0       0
368                                    0                     NaN       1
369                                    0                     NaN       2
370                                    3                     NaN     358
371                                    0                     NaN       0
372                                    0                     NaN       0
378                                  NaN                     NaN     NaN
379                                  NaN                     NaN     NaN

3   Aggravated_assault Property_crime Burglary Larceny-_theft  \
365                  0             71       16             55
366                  1             18        8              9
367                  0              4        0              4
368                  3            NaN        5            NaN
369                  0             43       14             29
370                580          2,009      414          1,395
371                 13            209       24            182
372                  0              1        0              1
378                NaN            NaN      NaN            NaN
379                NaN            NaN      NaN            NaN

3   Motor_vehicle_theft Arson3    PopNum  PropertyNum  RobberyNum  Murder  \
365                   0      0    9307.0         71.0         0.0     0.0
366                   1      0    1682.0         18.0         0.0     0.0
367                   0      0    1646.0          4.0         0.0     0.0
368                   0      0   10739.0          NaN         1.0     0.0
369                   0      0    5907.0         43.0         2.0     0.0
370                 200     15  200624.0       2009.0       358.0     3.0
371                   3      0   36989.0        209.0         0.0     0.0
372                   0      0    1896.0          1.0         0.0     0.0
378                 NaN    NaN       NaN          NaN         NaN     NaN
379                 NaN    NaN       NaN          NaN         NaN     NaN

3    Murder0  Murder1  Robbery0  Robbery1
365     True    False      True     False
366     True    False      True     False
367     True    False      True     False
368     True    False     False      True
369     True    False     False      True
370    False     True     False      True
371     True    False      True     False
372     True    False      True     False
378    False     True     False      True
379    False     True     False      True

In [72]:
data = modcrime [['Murder0', 'Robbery1', 'Burg']]
target = modcrime.PropertyNum

In [73]:
from sklearn.model_selection import cross_val_score
cross_val_score(bnb, data, target, cv=4)

C:\Users\harr1\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)

array([0.0209205 , 0.05714286, 0.07692308, 0.1       ])

In [75]:
# Test your model with different holdout groups.

from sklearn.model_selection import train_test_split
# Use train_test_split to create the necessary training and test groups
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=20)
print('With 20% Holdout: ' + str(bnb.fit(X_train, y_train).score(X_test, y_test)))
print('Testing on Sample: ' + str(bnb.fit(data, target).score(data, target)))

With 20% Holdout: 0.02702702702702703
Testing on Sample: 0.051630434782608696

I was very confident the model was overfitting before and now this has been confirmed.
I played around with the features: tried many combinations of Murder(0,1), Robbery(0,1), Larceny, Burglary, Population Number. I used the heatmap to try to figure out which ones were least correlated and use those but it still seems that the model is overfit on the 2013 data and I believe that is causing the 2014 data to show these low numbers.